.container-login{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.container-login form {
    padding: 2.5rem 0 2.5rem 0;
    border: 1px solid var(--color-border);
    background-color: var(--bg-aside);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 768px;
    width: 100%;
}

.container-login-title {
    color: var(--color-text);
    text-align: center;
}

.container-login-input, .container-login-button {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 90%;
}

.container-login-input input {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    color: var(--color-text);
}

.container-login-button button {
    width: 100%;
    background-color: var(--bg-button-login-register);
    color: var(--color-text-button-login-register);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.loading-login-form{
    background-color: var(--bg-button-login-register);
    border-radius: 5px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-login-form{
    border: 4px solid var(--color-border);
    border-top: 4px solid var(--color-spinner);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: chargerLogin 0.8s linear infinite;
}

@keyframes chargerLogin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

