.aside {
    width: 0px;
    overflow: hidden;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--bg-aside);
    transition: width 0.3s ease;
}

.aside-open {
    width: 200px;
}

.aside div {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside div h2 {
    color: var(--color-text);
    font-size: 2rem;
}

.aside nav {
    padding-top: 2rem;
}

.aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 1rem 0 1rem;
}

.aside-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);

}

.aside-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--color-mode);
    font-size: 16px;
}