.container-create{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-create span {
    color: var(--color-text);
}

.container-spinner-create-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-form{
    border: 4px solid var(--form-spinner-border);
    border-top: 4px solid var(--table-spinner-border-top);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: chargercreate 0.8s linear infinite;
    margin: 0 auto;
}

.container-create form {
    padding: 2.5rem 0 2.5rem 0;
    border: 1px solid var(--color-border);
    background-color: var(--bg-aside);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 768px;
    width: 100%;
}

.container-create-title {
    color: var(--color-text);
    text-align: center;
}

.container-create-input, .container-create-button {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 90%;
}

.container-create-input input {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    color: var(--color-text);
}

.container-create-input select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background-color: var(--bg-select);
    color: var(--color-text);
}

.container-create-button button {
    width: 100%;
    background-color: #28A745;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.loading-create-form{
    background-color: var(--bg-button-login-create);
    border-radius: 5px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-create-form{
    border: 4px solid var(--color-border);
    border-top: 4px solid var(--color-spinner);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: chargercreate 0.8s linear infinite;
}

@keyframes chargercreate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}