.container-professionals {
    margin: 0 auto;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.container-professionals-title h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-text);
}

.container-professionals-btn-and-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.container-btn-new-professional button {
    background-color: #28A745;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}


.form-professionals {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}


.container-input-professional, 
.container-select-professional, 
.container-btn-search-professional {
    width: 100%;
}

.container-input-professional input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    background-color: var(--bg-input);
    color: var(--color-text);
    border-radius: 5px;
    font-size: 0.9rem;
}


.container-select-professional select {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    background-color: var(--bg-select);
    color: var(--color-text);
    border-radius: 5px;
}

.container-btn-search-professional button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container-professional {
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
}

.table-professional {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: var(--bg-table);
    font-size: 0.9rem;
}

.table-professional thead {
    background-color: var(--thead-)
}

.table-professional thead tr th {
    font-weight: bold;
    color: #FFFFFF;
}

.table-professional th, .table-professional td {
    padding: 1.5rem;
    text-align: center;
    color: var(--table-content);
}

.table-professional tbody tr {
    border-bottom: 1px solid var(--table-separator-border-bottom);
}

.table-professional tbody tr:nth-of-type(even) {
    background-color: var(--table-even);
}

.table-professional tbody tr:last-of-type {
    border-bottom: 3px solid var(--table-border-bottom);
}

.status-active {
    color: #28A745;
}

.status-inactive {
    color: rgb(255, 0, 0);
}

.container-icons-professional {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spinner-professional {
    border: 4px solid var(--table-spinner-border);
    border-top: 4px solid var(--table-spinner-border-top);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spinner 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 769px) {

    .container-professionals-btn-and-form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .form-professionals {
        flex-direction: row;
        align-items: center;
        width: auto;
    }

    .container-input-professional {
        width: auto;
    }

    .container-select-professional {
        width: auto;
    }

    .container-btn-search-professional {
        width: auto;
    }

    .container-btn-search-professional button {
        width: auto;
    }

}

