.container-home {
    margin: 0 auto;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.container-home-title-cards h3, .container-home-title-table h3, .container-home-title-actions h3 {
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-text);
}

.container-home-title-table {
    padding: 0 0 4rem 0;
}

.container-home-title-table h3 {
    padding: 0 0 2rem 0;;
}

.container-home-cards, .container-home-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.container-home-cards {
    padding: 2rem 0 4rem 0;
}

.container-home-actions {
    padding: 2rem 0 2rem 0;
}

.container-home-cards div {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    background-color: var(--bg-input);
    color: var(--color-text);
    border-radius: 5px;
    font-size: 0.9rem;
}

.container-home-table {
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
}

.table-home {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: var(--bg-table);
    font-size: 0.9rem;
}

.table-home thead {
    background-color: var(--thead-)
}

.table-home thead tr th {
    font-weight: bold;
    color: #FFFFFF;
}

.table-home th, .table-home td {
    padding: 1.5rem;
    text-align: center;
    color: var(--table-content);
}

.table-home tbody tr {
    border-bottom: 1px solid var(--table-separator-border-bottom);
}

.table-home tbody tr:nth-of-type(even) {
    background-color: var(--table-even);
}

.table-home tbody tr:last-of-type {
    border-bottom: 3px solid var(--table-border-bottom);
}

.container-home-actions button {
    background-color: #28A745;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
}

.spinner-home {
    border: 4px solid var(--table-spinner-border);
    border-top: 4px solid var(--table-spinner-border-top);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spinner 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 769px) {

    .container-home-cards, .container-home-actions {
        flex-direction: row;
        align-items: center;
        width: auto;
    }

}