/*Light*/
:root {
    --bg-body: #f7f7f7;
    --bg-aside: #FFFFFF;
    --bg-navbar: #FFFFFF;
    --color-text: #000000;
    --color-mode: #000000;
    --color-border: #000000;
    --bg-button-login-register: #000000;
    --color-text-button-login-register: #FFFFFF;
    --color-spinner: #FFFFFF;
    --bg-navlink: linear-gradient(90deg, #e3a3ff, #c372ff);
    --bg-table: #FFFFFF;
    --thead-: #5E42B0;
    --table-border-bottom: #5E42B0;
    --table-even: #f3f3f3;
    --table-spinner-border: #FFFFFF;
    --table-spinner-border-top: #5E42B0;
    --table-separator-border-bottom: #DDDDDD;
    --table-content: #000000;
    --bg-input: #FFFFFF;
    --bg-select: #FFFFFF;
}

/*Dark*/
body.dark {
    --bg-body: #0F1419;
    --bg-aside: #1A1F2E;
    --bg-navbar: #1A1F2E;
    --color-text: #FFFFFF;
    --color-mode: #FFFFFF;
    --color-border: #FFFFFF;
    --bg-button-login-register: #FFFFFF;
    --color-text-button-login-register: #000000;
    --color-spinner: #1A1F2E;
    --bg-navlink: linear-gradient(90deg, #2f41e0, rgb(23, 34, 131));
    --bg-table: #1A1F2E;
    --thead-: #3E3465;
    --table-border-bottom: #5E42B0;
    --table-even: #21283B;
    --table-spinner-border: #1A1F2E;
    --table-spinner-border-top: #3E3465;
    --table-separator-border-bottom: #2F3642;
    --table-content: #FFFFFF;
    --bg-input: #1A1F2E;
    --bg-select: #1A1F2E;
}

body {
    background-color: var(--bg-body);
}