/*Light*/
:root {
    --bg-body: #f7f7f7;
    --bg-aside: #FFFFFF;
    --bg-navbar: #FFFFFF;
    --color-text: #000000;
    --color-mode: #000000;
}

/*Dark*/
body.dark {
    --bg-body: #0F1419;
    --bg-aside: #1A1F2E;
    --bg-navbar: #1A1F2E;
    --color-text: #FFFFFF;
    --color-mode: #FFFFFF;
}

body {
    background-color: var(--bg-body);
}