/*Light*/
:root {
    --bg-body: #f7f7f7;
    --bg-aside: #FFFFFF;
    --bg-navbar: #FFFFFF;
    --color-text: #000000;
    --color-mode: #000000;
    --color-border: #000000;
    --bg-button-login-register: #000000;
    --color-text-button-login-register: #FFFFFF;
    --color-spinner: #FFFFFF;
    --bg-navlink: linear-gradient(90deg, #e3a3ff, #c372ff);
}

/*Dark*/
body.dark {
    --bg-body: #0F1419;
    --bg-aside: #1A1F2E;
    --bg-navbar: #1A1F2E;
    --color-text: #FFFFFF;
    --color-mode: #FFFFFF;
    --color-border: #FFFFFF;
    --bg-button-login-register: #FFFFFF;
    --color-text-button-login-register: #000000;
    --color-spinner: #1A1F2E;
    --bg-navlink: linear-gradient(90deg, #2f41e0, rgb(23, 34, 131));
}

body {
    background-color: var(--bg-body);
}