header {
    background: var(--bg-navbar);
    height: 70px;
    width: 100%;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 1rem;
}

.container-header-icons {
    justify-self: start;
    grid-column: 1;
}

.menu-icon, .cross-icon {
    color: var(--color-mode);
    font-size: 1.5rem;
}

.container-header-h2 {
    justify-self: center;
    grid-column: 2;
}

.container-header-h2 h2 {
    color: var(--color-text);
}

@media screen and (min-width: 769px) {

    .container-header-icons {
        display: none;
    }

}